# Sindi Backend
venv/
__pycache__/
*.pyc
.env
sindi.db
*.html
node_modules/

# Sindi App
sindi-app/node_modules/
sindi-app/.expo/
sindi-app/dist/
sindi-app/google-services.json
sindi-app/sindi-8dc86-firebase-adminsdk-fbsvc-*.json 
